.header__lang-link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-style: normal;
    line-height: 28px;
    list-style-type: none;
    max-height: 30px;
    max-width: 28px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}