.photo-grid {
    box-sizing: content-box;
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-auto-rows: 1fr;
    gap: 16px;
    align-self: center;
    box-sizing: content-box;
}

@media screen and (max-width: 1190) {
    .photo-grid {
        grid-template-columns: repeat(auto-fill, 1fr);
        gap: 14px 14px;
    }
}

@media screen and (max-width: 882px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px 16px;
        margin: 0 24px;
    }
}

@media screen and (max-width: 506px) {
    .photo-grid {
        grid-template-columns: 1fr;
        gap: 12px 12px;
        margin: 0 16px;
    }
}