.place__image {
  height: 460px;
  max-width: 460px;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .place__image {
    max-height: 440px;
    width: 100%;
  }  
}
@media screen and (max-width: 768px) {
  .place__image {
    max-height: 340px;
    width: 100%;
    justify-self: center;
  }  
}
@media screen and (max-width: 320px) {
  .place__image {
    height: 320px;
    width: 100%;
  } 
}