.place__paragraph_text {
    margin: 0 0 26px;
}

.place__paragraph_text:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 728) {
    .place__paragraph_text {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph_text {
        margin-right: 16px;
        margin-left: 16px;
    }
}