.footer__link {
    text-decoration: none;
    color: white;
    justify-self: start;
    font-style: Regular;
    font-size: 16px;
    line-height: 93%;
}

@media screen and (max-width: 480px) {
    .footer__link {
        font-size: 24px;
        line-height: 83%;
    } 
}