.lead__title {
    max-width: 720px;
    max-height: 200px;
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    justify-self: center;
    text-align: center;
    margin: 0 0 32px 0;
}


@media screen and (max-width: 320px) {
    .lead__title {
      max-width: 100%;
      max-height: 88px;
      font-size: 40px;
      line-height: 44px;
    } 
}