.footer__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    column-gap: 18px;
    justify-items: start;
}

@media screen and (max-width: 720px) {
    .footer__links {
        display: block;
    }
}