.footer__copyright {
  margin: 0;
  justify-self: end;
  font-style: Regular;
  font-size: 14px;
  line-height: 94%;
}
@media screen and (max-width: 658px) {
  .footer__copyright {
    align-self: end;
    justify-self: end;
  } 
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    line-height: 83%;
    align-self: end;
    justify-self: start;
  }
}