.cover__background {
    color: white;
    text-decoration: none;
    z-index: -1;
    max-width: 1184px;
    height: 740px;
    opacity: 30%;
    background-image: url("../../../images/footer.png");
    background-position: center;
    background-size: cover;
    transition: opacity 0.8s ease-in;
    display: grid;
}

.cover__background:hover {
    background-color: #2A2C2F;
    opacity: 80%;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
    }
}