.cover__background {
    color: white;
    text-decoration: none;
    min-height: 740px;
    background-image: url("../../../images/footer.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    position: relative;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 30%;
    transition: .5s;
}

.cover__background:hover::after {
    opacity: 80%;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        min-height: 480px;
    }
}

@media screen and (max-width: 506px) {
    .cover__background {
        max-width: 506px;
        height: 200px;
    }
}