.footer {
  color: white;
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  justify-items: start;
  width: 100%;
  margin: 0 48px 24px;
  
}


@media screen and (max-width: 720px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: 5fr;
  }
}