.footer {
  margin: 0 48px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr) 20fr;
  gap: 18px;
}
@media screen and (max-width: 520px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr) 2fr;
    gap: 32px;
    margin: 0 16px 24px;

  } 
}